[submodule "stanbol"]
	path = stanbol
	url = git://git.apache.org/stanbol.git
[submodule "launcher"]
	path = launcher
	url = https://github.com/fusepool/launcher.git
[submodule "webconsole-branding"]
	path = webconsole-branding
	url = https://github.com/fusepool/webconsole-branding.git 
[submodule "bundlelist"]
	path = bundlelist
	url = https://github.com/fusepool/fusepool-bundlelist.git
[submodule "foafknows-enhancer"]
	path = foafknows-enhancer
	url = https://github.com/fusepool/foafknows-enhancer.git
[submodule "patents-reengineering"]
	path = patents-reengineering
	url = git@github.com:fusepool/patents-reengineering.git
