[submodule "stanbol"]
	path = stanbol
	url = git://git.apache.org/stanbol.git
[submodule "launcher"]
	path = launcher
	url = https://github.com/fusepool/launcher.git
[submodule "webconsole-branding"]
	path = webconsole-branding
	url = https://github.com/fusepool/webconsole-branding.git 
[submodule "bundlelist"]
	path = bundlelist
	url = https://github.com/fusepool/fusepool-bundlelist.git
[submodule "foafknows-enhancer"]
	path = foafknows-enhancer
	url = https://github.com/fusepool/foafknows-enhancer.git
[submodule "patents-reengineering"]
	path = patents-reengineering
	url = https://github.com/fusepool/patents-reengineering.git
[submodule "fusepool-firstswim"]
	path = fusepool-firstswim
	url = https://github.com/fusepool/fusepool-firstswim.git
[submodule "parent"]
	path = parent
	url = https://github.com/fusepool/fusepool-parent.git
[submodule "ecs"]
	path = ecs
	url = https://github.com/fusepool/fusepool-ecs.git
[submodule "annostore"]
	path = annostore
	url = https://github.com/fusepool/annostore.git
[submodule "fusepool-sma"]
	path = fusepool-sma
	url = https://github.com/fusepool/fusepool-sma.git
[submodule "fusepool-ner"]
	path = fusepool-ner
	url = https://github.com/fusepool/fusepool-ner.git
[submodule "kmx-client"]
	path = kmx-client
	url = https://github.com/fusepool/kmx-client
[submodule "kmx-rdf-proxy"]
	path = kmx-rdf-proxy
	url = https://github.com/fusepool/kmx-rdf-proxy
[submodule "silklinking"]
	path = silklinking
	url = https://github.com/fusepool/silklinking
[submodule "publications"]
	path = publications
	url = https://github.com/fusepool/publications.git
