[submodule "stanbol"]
	path = stanbol
	url = git://git.apache.org/stanbol.git
	branch = trunk
[submodule "launcher"]
	path = launcher
	url = https://github.com/fusepool/launcher.git
[submodule "webconsole-branding"]
	path = webconsole-branding
	url = https://github.com/fusepool/webconsole-branding.git 
[submodule "bundlelist"]
	path = bundlelist
	url = https://github.com/fusepool/fusepool-bundlelist.git
[submodule "foafknows-enhancer"]
	path = foafknows-enhancer
	url = https://github.com/fusepool/foafknows-enhancer.git
[submodule "patents-reengineering"]
	path = patents-reengineering
	url = https://github.com/fusepool/patents-reengineering.git
[submodule "fusepool-firstswim"]
	path = fusepool-firstswim
	url = https://github.com/fusepool/fusepool-firstswim.git
[submodule "parent"]
	path = parent
	url = https://github.com/fusepool/fusepool-parent.git
[submodule "ecs"]
	path = ecs
	url = https://github.com/fusepool/fusepool-ecs.git
[submodule "annostore"]
	path = annostore
	url = https://github.com/fusepool/annostore.git
[submodule "fusepool-sma"]
	path = fusepool-sma
	url = https://github.com/fusepool/fusepool-sma.git
[submodule "fusepool-ner"]
	path = fusepool-ner
	url = https://github.com/fusepool/fusepool-ner.git
[submodule "kmx-client"]
	path = kmx-client
	url = https://github.com/fusepool/kmx-client.git
[submodule "kmx-rdf-proxy"]
	path = kmx-rdf-proxy
	url = https://github.com/fusepool/kmx-rdf-proxy.git
[submodule "silklinking"]
	path = silklinking
	url = https://github.com/fusepool/silklinking.git
[submodule "publications"]
	path = publications
	url = https://github.com/fusepool/publications.git
[submodule "ecsutils"]
	path = ecsutils
	url = https://github.com/fusepool/ecsutils.git
[submodule "silklinkingengine"]
	path = silklinkingengine
	url = https://github.com/fusepool/silklinkingengine.git
[submodule "tables-ld"]
	path = tables-ld
	url = https://github.com/fusepool/tables-ld.git
[submodule "datalifecycle"]
	path = datalifecycle
	url = https://github.com/fusepool/datalifecycle.git
[submodule "fusepool-prediction-reactor"]
	path = fusepool-prediction-reactor
	url = https://github.com/Adeurien/fusepool-prediction-reactor.git
[submodule "renderlets"]
	path = renderlets
	url = https://github.com/fusepool/fusepool-renderlets.git
[submodule "fusepool-dlc-patents"]
	path = fusepool-dlc-patents
	url = https://github.com/fusepool/fusepool-dlc-patents.git
[submodule "fusepool-selfregistartion"]
	path = fusepool-selfregistartion
	url = https://github.com/fusepool/fusepool-selfregistartion.git
[submodule "selfregistration"]
	path = selfregistration
	url = https://github.com/fusepool/fusepool-selfregistration.git
